p{
  font-size: 22px;
}
h2{
  font-size: 42px;
}
.container{
  width:1200px !important;
}
.container-fluid{
  padding-left : 0;
  padding-right : 0;
}

/*首页顶部导航条样式*/
.navbar{
  height: 80px;
  margin: 0;
  background-color:rgba(255,255,255,0);
  box-shadow:0 1px rgba(0,0,0,0.1);
  border: none;
  border-radius: 0;
  z-index: 1;
  transition: all ease 0.25s;
}
.navbar-header{
  margin-left: 80px;
}
.navbar-logo img{
  opacity: 0.9;
}
#logo{
  height: 60px;
  margin: 10px 30px;
  transition: all ease 0.25s;
}
.navbar-right{
  margin-right: 80px;
  margin-top: 15px;
  transition: all ease 0.25s;
}
.navbar-right a{
  color: white !important;
  font-size: 22px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background-color: transparent;;
}
.dropdown-toggle{
  margin-left: 50px;
}
.dropdown-menu{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  margin-top: 20px !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
  background-color: rgba(0, 0, 0, 0.5);
}


/*背景图样式*/
.contactus img{
  width: 100%;
}
