p{
  font-size: 22px;
}
h2{
  font-size: 42px;
}
.container{
  width:1200px !important;
}
.container-fluid{
  padding-left : 0;
  padding-right : 0;
}

/*首页顶部导航条样式*/
.navbar{
  height: 80px;
  margin: 0;
  background-color:rgba(255,255,255,0);
  box-shadow:0 1px rgba(0,0,0,0.1);
  border: none;
  border-radius: 0;
  z-index: 1;
  transition: all ease 0.25s;
}
.navbar-header{
  margin-left: 80px;
}
.navbar-logo img{
  opacity: 0.9;
}
#logo{
  height: 60px;
  margin: 10px 30px;
  transition: all ease 0.25s;
}
.navbar-right{
  margin-right: 80px;
  margin-top: 15px;
  transition: all ease 0.25s;
}
.navbar-right a{
  color: white !important;
  font-size: 22px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background-color: transparent;;
}
.dropdown-toggle{
  margin-left: 50px;
}
.dropdown-menu{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  margin-top: 20px !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
  background-color: rgba(0, 0, 0, 0.5);
}


/*背景图样式*/
.contactus{
  background-image: url(../img/contact/bg.png);
  background-size: cover;
  position:fixed; width:100%; height:100%;
}
/*联系方式样式*/
.contactus-content{
  height: 500px;
  width: 1100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.bk-code{
  float: left;
}
.bk-code img{
  width: 370px;
  margin-top:65px;
  margin-bottom:65px;;
}
.contactus-full{
  margin-top: auto;
  margin-bottom: auto;
}
.contactus-list{
  width: 720px;
  height: 100px;
  float: right;
  padding: 20px 20px;
}
.contactus-email{
  margin-top: 40px;
  margin-bottom: 60px;
}
.contactus-wechat{
  margin-bottom: 60px;
}
.contact-block{
  display: inline-block;
  font-size: 50px;

}
.contact-block-left{
  color: white;
  text-align: center;
  width: 180px;
  background-color: rgba(248,199,141,0.8);
  border-radius: 8px;
  margin-right: 40px;
}
.contact-block-right{
  color: #5e5e5e;
  text-align: center;
  width: 450px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 8px;
}
