.bk-content p{
  font-size: 24px;
  text-indent:2em;
  text-align:justify;
  text-justify:inter-ideograph;
  color: #515252;
}
.blue_text{
  color:#a2c9e2;
}
.orange_text{
  color: #f8c78d;
}
h2{
  font-size: 42px;
}
.container{
  width:1200px !important;
}
.container-fluid{
  padding-left : 0;
  padding-right : 0;
}

/*首页顶部导航条样式*/
.navbar{
  height: 80px;
  margin: 0;
  background-color:rgba(255,255,255,0);
  box-shadow:0 1px rgba(0,0,0,0.1);
  border: none;
  border-radius: 0;
  z-index: 1;
  transition: all ease 0.25s;
}
.navbar-header{
  margin-left: 80px;
}
.navbar-logo img{
  opacity: 0.9;
}
.navbar-floating{
  background-color: rgba(0, 0, 0, 0.8);
  height: 60px;
}
#logo{
  height: 60px;
  margin: 10px 30px;
  transition: all ease 0.25s;
}
.logo-floating{
  height: 44px !important;
  margin-top: 8px !important;
}
.navbar-right{
  margin-right: 80px;
  margin-top: 15px;
  transition: all ease 0.25s;
}
.navbar-right a{
  color: white !important;
  font-size: 22px;
}
.navbar-right-floating{
  margin-top: 8px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background-color: transparent;;
}
.dropdown-toggle{
  margin-left: 50px;
}
.dropdown-menu{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  margin-top: 20px !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
  background-color: rgba(0, 0, 0, 0.5);
}

/*首页大图样式*/
.guidesfornewer img{
  width: 100%;
}


/*首页导航按钮样式*/
.bk-nav-btn{
  padding-top: 40px;
  height: 355px;
  text-align: center;
  min-width: 1200px;
}
.bk-nav-btn-img{

}
.bk-nav-btn img{
  width: 150px;
  margin: 30px;
}
.bk-nav-btn-btn{
  text-align: center;

}
.bk-btn{
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: rgba(255,255,255,1);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
  display:inline-block;
  margin: 30px;
  transition: all ease 0.25s;
}
.bk-btn:hover{
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}
.bk-btn img{
  display: inline-block;
  margin: 30px 0;
}
/*正文介绍部分样式*/
#bk-container{
  background-color: #f9fafd;
}
.bk-content{
  width: 1200px;
  margin-top: 120px !important;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/index/bg.png);
  background-size:90%;
  background-position: top center;
  background-repeat:no-repeat;
  z-index: 1;
}
.bk_qianyan{
  width: 720px;
  margin-top: 100px;
  margin-right: 180px;
  float: right;
}
.bk_banquan{
  width: 720px;
  margin-top: 140px;
  margin-left: 180px;
  margin-bottom: 240px;
  float: left;
}
.bk_guanyu{
  clear: both;
}
.bk_guanyu_1{
  float: left;
  width: 400px;
  margin-left: 140px;
  padding-bottom: 50px;
  border-bottom: 5px solid #f8c78d;
}
.bk_guanyu_2{
  width: 420px;
  margin-right: 140px;
  margin-bottom: 50px;
  float: right;
  padding-left: 50px;
  border-left: 5px solid #f8c78d;
}
.bk_guanyu_3{
  float: left;
  width: 400px;
  margin-left: 140px;
  margin-top: 40px;
  padding-top: 20px;
}
.bk_guanyu_4{
  width: 920px;
  margin: 100px auto;
  clear: both;
  border-top: 5px solid #f8c78d;
  padding-top: 40px;
}




/*页脚部分样式*/
.bk-footer{
  padding-top: 20px;
  text-align: center !important;
  border-top: 1px solid #e5e5e5;
}
.bk-footer img{
  width: 150px;
  margin-bottom: 10px;
}
.bk-footer p{
  font-size: 14px;
  color: #969696;
}
